

.spacer {
    padding: 7rem 4rem;
    aspect-ratio: 1100/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    overflow: hidden;
}
.layer1{
    background-image: url("./wave-haikei\ \(3\).svg");
    overflow: hidden;

}

@media only screen and (max-width: 500px) and (min-width: 341px){
    .layer1{
        background-image: url("./wave-haikei\ \(3\).svg");

    
    }
    
}