.spacer {
    padding: 7rem 4rem;
    aspect-ratio: 1100/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    overflow: hidden;
    overflow-x: hidden;
}
.layer1{
    background-image: url("./wave-haikei\ \(3\).svg");
    overflow: hidden;
    overflow-x: hidden;

}