.piscina{
    margin: 4rem 6rem;
}
.piscina h1{
    color: #222;
    font-size: 3rem;
}
.piscina p{
    font-size: 20px;
}
.first-des{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.first-des p{
    font-size: 20px;
}
.first-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.des-text{
    color: #222;
    width: 50%;
    text-align: start;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.des-text h2{
    color: #222;
    padding-bottom: 1rem;
}
.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.image img{
    width: 49%;
    height: 600px;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;
}
@media only screen and (max-width: 500px) and (min-width: 341px){
    .piscina{
        margin: 4rem 2rem;
    }
    .piscina h1 {
        color: #222;
        font-size: 45px;
    }
    .des-text h2 {
        color: #222;
        font-size: 25px;
        text-align: center;
        padding-bottom: 20px;
    }
    .first-des p {
        font-size: 18px;
        text-align: center;
    }
    .first-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.5rem;
    }

    .piscina p {
        font-size: 18px;
        text-align: center;
    }    

    .first-des-reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4.5rem;
    }
    .des-text{
        text-align: start;
        width: 100%;
    }
    .image{
        width: 100%;
        margin: 1.8rem 0;
    }
    .image img{
        height: 250px;
    }
}