.all{
    margin: 4rem 6rem;
    display: flex;
}
.quienes-conteiner{
    justify-content: start;
    flex-direction: column;
}
.quienes-conteiner h1{
    padding-bottom: 1rem;
    font-size: 2.2rem;
    display: flex;
    animation: fadeIn;
    animation-duration: 2s;
    align-items: start;
    margin-top: 4.5rem;
    width: 1000px;

}
.quienes-conteiner .parrafo {
    padding-bottom: 2rem;
    font-size: 25px;
    display: flex;
    align-items: start;
    text-align: start;
    padding-left: 2rem;
    width: 1000px;
}
.all .imagen-quienes{
    width: 450px;
    margin-left: 20px;
    margin-top: 55px;
    animation: fadeIn;
    animation-duration: 2s;

}
@media only screen and (max-width: 500px) and (min-width: 341px){
    .all{
        flex-direction: column;
        margin: 2rem 2rem;
    }
    .quienes-conteiner h1{
        padding-bottom: 0.2rem;
        font-size: 25px;
        align-items: start;
        justify-content: space-between;
        margin-top: 2px;
        width: 341px;
    
    }
    .quienes-conteiner .parrafo{
        padding-bottom: 1rem;
        font-size: 15px;
        align-items: center;
        justify-content: space-between;
        text-align: start;
        padding-left: 1rem;
        width: 341px;
    }
    

    .all .imagen-quienes{
        width: 300px;
        height: 300px;
        margin-top: 30px;

    }
    
}

@media (max-width: 376px) { 

    .quienes-conteiner .parrafo {
        align-items: center;
        font-size: 15px;
        justify-content: space-between;
        padding-bottom: 1rem;
        padding-left: 1rem;
        text-align: start;
        width: 299px;
    }

    .quienes-conteiner h1 {
        align-items: center;
        font-size: 20px;
        justify-content: center;
        margin-top: 2px;
        margin-left: -6px;
        padding-bottom: 1rem;
        width: 300px;
    }

    .all .imagen-quienes {
        height: 300px;
        margin-left: 2px;
        margin-top: 30px;
        width: 300px;
    }

}

