.contactor2{
    padding: 160px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3) ),
    url("./fondo2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin-bottom: -460px;
}
.contactor2 h1{
    text-transform: uppercase;
    font-size: 20px;
    color: aliceblue;
}
.contactor2 h2{
    color: aliceblue;
    font-size: 20px;
    padding-bottom: 15px;
}
.contactor2 a{
    text-decoration: none;
    color: #4d7f8b;
}
.btn{
text-decoration: none;
display: inline-block;
font-weight: bold;
padding: 8px 20px;
border-radius: 10px;
background: #fff;
font-size: 1rem;
z-index: 9;
cursor: pointer;
text-transform: uppercase;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow, transform;
transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

@media only screen and (max-width: 500px) and (min-width: 341px){
   .contactor2{
    margin-bottom: -162px;
    background-image:
    url("./fondo2.jpg");
   }
   .contactor2 h1 {
    margin-bottom: 9px;
   }
   .contenido-var2 {
    padding-bottom: 65px;
   }
   .btn{
    margin-bottom: 30px;
   }
 }
